doxygen_output
_site
packages
/C#/API/log.txt
/C#/API/api/*.yml
/C#/API/api/.manifest
*.bak
Python/unit_tests/report.html

**/__pycache__/**
**/bin/**
**/obj/**
*.user
**/.vs/**
**/x64/**
**/x86/**
**/build/**
**/install/**
**/.cache/**
**/build-**
