/.vs
/C#/API/.vs/RoboDkApi/v15
/C#/API/bin/Debug
/C#/API/obj
/C#/Example/.vs/RoboDKSampleSolution/v15
/C#/Example/RoboDKSampleProject/obj
/Visual Basic/Example/obj/x86
doxygen_output
_site
packages
/C#/API/log.txt
C#/API/TesterProject/bin/
Python/__pycache__/
*.bak
Python/unit_tests/__pycache__/TestInstructionListJoints.cpython-37.pyc
Python/unit_tests/report.html
Python/unit_tests/__pycache__/
Python/unit_tests/.vscode/settings.json
