################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoboDkApi/.vs/RoboDkApi/v15
/RoboDkApi/obj
/.vs
/RoboDkApi/bin/Debug
